* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: 'Nunito', sans-serif;
    line-height: 1.6;
    background: linear-gradient(to bottom, #4c00ff, #7700ff, #9900ff);
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza o conteúdo horizontalmente */
    justify-content: center; /* Centraliza o conteúdo verticalmente */
    min-height: 100vh; /* Faz o body ocupar a altura total da viewport */
}

.container {
    width: 90%; /* Ajusta a largura para ser mais responsiva */
    max-width: 600px; /* Define uma largura máxima para telas maiores */
    max-height: 400px;
    margin: 20px auto; /* Centraliza horizontalmente */
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    width: 100%;
    position: fixed;
    top: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 100px;
}

nav a:hover {
    transition: 0.5s ease;
    background: linear-gradient(to right, #9900ff, #7700ff);
}

footer {
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
}

.titulo {
    font-family: "Josefin Sans", sans-serif;
    color: #ccb7ff;
    margin-bottom: 30px; /* Espaço entre o título e a descrição */
    text-align: center;
    font-size: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.descricao {
    font-family: 'Nunito', sans-serif;
    color: #555;
    text-align: center;
    margin-bottom: 20px; /* Espaço entre a descrição e a caixa */
}

.input-group {
    margin-bottom: 20px;
    width: 100%; /* Torna os inputs responsivos */
}

input {
    width: calc(100% - 22px); /* Torna os inputs responsivos */
    padding: 10px;
    margin: 5px;
    border: 1px solid #7700ff;
    border-radius: 100px;
}

button {
    padding: 10px 20px;
    border: none;
    background: linear-gradient(to right, #9900ff, #7700ff);
    color: #fff;
    border-radius: 100px;
    cursor: pointer;
    font-size: 16px;
    width: 100%; /* Torna o botão responsivo */
}

button:hover {
    transition: ease 2s;
    background: linear-gradient(to right, #7700ff, #9900ff);
}

.carregando {
    display: none;
    margin-top: 20px;
    text-align: center;
}

.carregando-img {
    width: 95px;
    height: 95px;
}

.hidden {
    display: none;
}

.resultado {
    margin-top: 20px;
}

.coracao {
    font-size: 50px;
    color: #888888;
}

.coracao.calculado {
    color: #ff5e5e;
}

.porcentagem {
    font-size: 24px;
    margin-top: 10px;
}

/* Media query para telas menores */
@media (max-width: 600px) {
    .container {
        width: 90%; /* Ajusta a largura em telas menores */
        padding: 15px; /* Reduz o padding */
    }


    button {
        font-size: 14px; /* Reduz o tamanho do botão */
    }

    .input-group input {
        font-size: 14px; /* Reduz o tamanho do texto dos inputs */
    }
}
