body {
    margin: 0;
    overflow: hidden;
    font-family: 'Nunito', sans-serif;
    width: 100vw; /* Garante que o conteúdo use toda a largura da tela */
    height: 100vh;
}

nav {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    z-index: 10;
    background: transparent;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 100px;
}

nav a:hover {
    transition: 0.5s ease;
    background: linear-gradient(to right, #9900ff, #7700ff);
}

#game {
    position: relative;
    width: 100%;
    height: calc(100vh - 50px); /* Ajusta a altura para considerar a navbar */
    background-color: skyblue;
    overflow: hidden;
    padding-top: 50px; /* Espaço para a navbar */
}

#ground {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: rgb(82, 82, 82);
}

#mario {
    position: absolute;
    bottom: 50px;
    left: 50px;
    width: 50px;
    height: 50px;
}

#princess {
    position: absolute;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
}

.obstacle {
    position: absolute;
    bottom: 50px;
    width: 30px;
    height: 30px;
}

.flower {
    position: absolute;
    bottom: 100px;
    width: 20px;
    height: 20px;
}

.hidden {
    display: none;
}

.jump {
    animation: jump 1s ease-out;
}

@keyframes jump {
    0% { bottom: 50px; }
    50% { bottom: 400px; }
    100% { bottom: 50px; }
}

button {
    position: relative;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background: linear-gradient(to left, red, yellow);
    color: white;
    border: none;
    border-radius: 5px;
}

#restart-button {
    display: none;
}

.instructions {
    text-align: center;
    font-size: 18px;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* Estilo para o gradiente de texto */
.title-gradient {
    text-align: center;
    font-size: 3rem; /* Ajusta o tamanho da fonte conforme necessário */
    background: linear-gradient(to right, red, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

/* Responsividade para dispositivos menores */
@media (max-width: 600px) {
    #game {
        padding-top: 70px; /* Espaço extra para dispositivos móveis */
    }
    
    .title-gradient {
        font-size: 2rem; /* Reduz o tamanho da fonte em dispositivos menores */
    }
    
    .instructions {
        font-size: 16px; /* Ajusta o tamanho do texto */
        padding: 5px; /* Ajusta o padding para dispositivos menores */
    }

    button {
        padding: 8px 16px; /* Ajusta o tamanho dos botões */
        font-size: 14px; /* Ajusta o tamanho da fonte dos botões */
    }
}
