* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: 'Nunito', sans-serif;
    line-height: 1.6;
    background: linear-gradient(to bottom, #4c00ff, #7700ff, #9900ff);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 100px;
}

.ily-link{
    background: linear-gradient(to right, #9900ff, #7700ff);
}

nav a:hover {
    transition: 5s ease;
    background: linear-gradient(to right, #9900ff, #7700ff);
}

.titulo {
    font-family: "Josefin Sans", sans-serif;
    width: 38px;
    color: #3c00ff;
}
