* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: 'Nunito', sans-serif;
    line-height: 1.6;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

nav {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    z-index: 10;
    background: transparent;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 100px;
}

.ily-link {
    background: linear-gradient(to right, #9900ff, #7700ff);
}

nav a:hover {
    transition: 0.5s ease;
    background: linear-gradient(to right, #9900ff, #7700ff);
}

.section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.video1, .video2, .video3 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background: transparent;
    color: #fff;
}