* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    background: linear-gradient(to bottom, #4c00ff, #7700ff, #9900ff); 
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    line-height: 1.6;
}

header {
    font-family: "Josefin Sans", sans-serif;
    color: #c5b4ff;
    text-align: center;
    padding: 40px 0;
}

main {
    flex-grow: 1;
    padding: 20px;
}

.game-list {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4vh;
}

.game-item {
    background-color: #ffffffdc;
    border-radius: 2vh;
    padding: 50px;
    transition: transform 0.3s ease;
    text-align: center;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.game-title {
    color: #3c00ff;
    margin-top: 8px;
    margin-bottom: 10px;
}

.game-description {
    color: #3c00ff;
    margin: 0;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    margin: 10px;
}

.game-link {
    display: inline-block;
    background: linear-gradient(to right, #9900ff, #7700ff);
    color: #ffffff;
    padding: 10px 10px;
    text-decoration: none;
    border-radius: 50px;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
    margin-top: 5px;
}

.game-link:hover {
    transition: ease 1s;
    background: linear-gradient(to right, #7700ff, #9900ff);
    transform: scale(1.1);
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 100px;
}

.compatibilidade-link {
    background: linear-gradient(to right, #9900ff, #7700ff);
}

nav a:hover {
    transition: 5s ease;
    background: linear-gradient(to right, #9900ff, #7700ff);
}

footer {
    color: #fff;
    text-align: center;
    padding: 20px;
}

@media screen and (max-width: 768px) {
    .game-list {
        grid-template-columns: 1fr;
    }
}
