/* Estilos Gerais */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%; /* Garante que o HTML ocupe toda a altura da janela */
    background: linear-gradient(to bottom, #4c00ff, #7700ff, #9900ff); /* Gradiente suave de cima para baixo */
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garante que o corpo ocupe a altura total da janela */
    margin: 0;
    font-family: 'Nunito', sans-serif;
    line-height: 1.6;
}

/* Cabeçalho */
header {
    font-family: "Josefin Sans", sans-serif;
    color: #c5b4ff;
    text-align: center;
    padding: 40px 0;
}

/* Conteúdo Principal */
main {
    flex-grow: 1; /* Permite que o main cresça para ocupar o espaço disponível */
    padding: 20px;
}

/* Lista de Jogos */
.game-list {
    list-style-type: none; /* Remove os marcadores da lista */
    padding: 0;
    display: grid; /* Usando Grid Layout */
    grid-template-columns: repeat(3, 1fr); /* Três colunas iguais */
    gap: 4vh; /* Espaçamento entre os itens */
}

.game-item {
    background-color: #ffffffdc;
    border-radius: 2vh;
    padding: 50px; /* Remove o padding para usar o padding interno do flexbox */
    transition: transform 0.3s ease;
    text-align: center;
    min-height: 300px; /* Define uma altura mínima maior para garantir a altura vertical dos itens */
    display: flex; /* Usando Flexbox para alinhamento */
    flex-direction: column; /* Alinha os itens verticalmente */
    justify-content: space-between; /* Espaça os itens uniformemente */
}

.game-title {
    color: #3c00ff;
    margin-top: 8px; /* Define a distância do título da borda superior */
    margin-bottom: 10px;
}

.game-description {
    color: #3c00ff;
    margin: 0;
    flex-grow: 1; /* Faz a descrição crescer para ocupar o espaço disponível */
    display: flex;
    justify-content: center;
    margin: 10px; /* Centraliza horizontalmente */
}

.game-link {
    display: inline-block;
    background: linear-gradient(to right, #9900ff, #7700ff);
    color: #ffffff;
    padding: 10px 10px;
    text-decoration: none;
    border-radius: 50px;
    transition: background-color 0.3s ease;
    margin-bottom: 10px; /* Define a distância do botão da borda inferior */
    margin-top: 5px;
}

.game-link:hover {
    transition: ease 1s;
    background: linear-gradient(to right, #7700ff, #9900ff);
    transform: scale(1.1);
}

/* Navegação */
nav {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    border-radius: 100px;
}

.compatibilidade-link {
    background: linear-gradient(to right, #9900ff, #7700ff);
}

nav a:hover {
    transition: 5s ease;
    background: linear-gradient(to right, #9900ff, #7700ff);
}

/* Rodapé */
footer {
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Adaptação para telas menores */
@media screen and (max-width: 768px) {
    .game-list {
        grid-template-columns: 1fr; /* Uma coluna em telas menores */
    }
}
